html {
    margin: 0;
    padding:0;
}

body {
    background-color: #2D4059;
    font-family: "Bitter";
}


a {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

a:focus {
    text-decoration:none;
}

.me {
    width:225px;
    height:225px;
    border-radius:50%;
    object-fit: cover;
}

.company {
    color:#FFD460;
}

.company:hover {
    color:#fff;
    transition: 0.5s color;
}

.landing {
    text-align:center;
    margin-top:100px; 
    margin-bottom: 60px;
    max-width:1800px;
}

.items {
    background-color:#EA5455;
    color: #fff;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}

.items:hover {
    background-color:#fff;
    color:#000;
    transition: 0.5s background-color;
}

.titler {
    color: #fff;
    margin-top:35px;
    font-size:40px;
}


/* career.html */ 

.body-career {
    background-color:#f9f9fa;
    text-align:center;
}

.career-landing {
    margin-top:250px;
    margin-bottom:350px;
}

#main-header {
    font-size:50px;
}

.sub-header {
    font-size:25px;
    color:rgb(102, 102, 102);;
}

.ui-section {
    padding: 100px 100px;
    color:#fff;
    text-align:left;
}

.ui-what {
    background-color:#303242;
}

.ui-jobs {
    background-color:#394359;
}

.ui-heroes {
    background-color:#353941;
}

.section-header {
    font-weight:500;
    font-size:27px;
}

.section-text {
    font-family: "Open Sans";
    font-weight:300;
    font-size:18px;
    line-height:1.5;
}

.special-text {
    margin-top:25px;
    background-color:#fff;
    text-align: center;
    display:inline-block;
    color:#000;
    width:200px;
    padding:10px 10px;
}

.special-text:hover {
    background-color:#394359;
    color:#fff;
    transition: 0.5s background-color ease;
}

.versus {
    background-color:#EA5455;
    color:#fff;
    width:150px;
}

.versus:hover {
    background-color:#EA5455;
}

.section-img {
    margin-top:50px;
}

li {
    font-family: "Open Sans";
    font-weight:300;
    font-size:18px;
}

.center {
    text-align: center;
}

.hero-img {
    border-radius:50%;
    width:220px;
    height:220px;
}

.hero-title {
    text-align:center;
    font-size:20px;
}

.hero-text {
    text-align:center;
    font-family: "Open Sans";
    font-size:15px;
    font-weight:300;

}

.nav {
    margin-right:10px;

}

.navbar-default .navbar-nav>li>a {
    font-family: "Open Sans";
    font-weight:300;
}

.bold {
    font-weight:600;
    color:#fff;
}

.link {
    font-weight:600;
    color:#FFD460;
}

.link:hover {
    color:#fff;
}

.courses {
    margin-bottom:50px;
}

.green {
    color:#79F8BB;
}

.bib {
    color:#EECCB4;
    font-size:15px;
}

.bib:hover {
    color:#fff;
}

.bib-header {
    text-align:center;
    margin-top:150px;
    margin-bottom:-30px;
    font-family: "Open Sans";
    color:#fff;
    font-size:35px;
    font-weight:600;}

.bib-text {
    font-family: "Open Sans";
    color:#fff;
    font-size:18px;
    font-weight:300;
    line-height:1.5;
}

@media screen and (max-width: 480px) {
.section-header {
   width:380px;
   margin-left:-100px;
}

.section-text {
   width:350px;
   margin-left:-100px;
}

.hero-img {
    width:125px;
    height:125px;
}


}