html {
    margin: 0;
    padding:0;
}

body {
    background-color: #ff5a5f;
    font-family: "Bitter";
}

.body-what {
    background-color:#fff;
    font-family:"Lato";
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

a:focus {
    text-decoration:none;
}

.me {
    width:225px;
    height:225px;
    border-radius:50%;
    object-fit: cover;
}

.company {
    color:#F6DEAE;
}

.company:hover {
    color:#fff;
    transition: 0.5s color;
}

.landing {
    text-align:center;
    margin-top:100px; 
    margin-bottom: 60px;
    max-width:1800px;
}

.items {
    background-color:#EA5455;
    color: #fff;
    text-align: center;
}

.items:hover {
    background-color:#fff;
    color:#000;
    transition: 0.5s background-color;
}

h1.titler {
    color: #fff;
    margin-top:35px;
    font-size:40px;
}

.classWithPad { 
    margin:10px; 
    padding:50px; 
    
}

.large-bg {
    text-align:center;
    background: linear-gradient( rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80) ), url("bg.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    max-width:1500px;
    min-height:500px;
    margin-bottom:50px;
}

.header {
    color:#fff;
    font-size:75px;
    font-weight:200;
    margin-top:260px;
   
}

.subtitle {
    color: rgba(255,255,255,0.75);
    font-size:20px;
    font-weight:300;
}

.text {
    max-width:650px;
    line-height:25px;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
}

.circle {
	margin-top:25px;
	margin-left:25px;
	border-radius: 50%;
	background:#fff;
	color:#000;
	width:50px;
	height:50px; 
}

.circle:hover {
    background-color:#ff5a5f;
    color:#fff;
    transition:0.5s background-color;
}


.fa {
    text-align:center;
    margin-top:27%;
    font-size:20px;
}

@media screen and (max-width:700px) {
    .text {
        max-width:350px;
    }
    
}

@media screen and (max-width:555px) {
    .header{
        margin-top:185px;
    }
    
}