html {
    margin: 0;
    padding:0;
}

body {
    background-color: #2D4059;
    font-family: "Bitter";
}


a {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

a:focus {
    text-decoration:none;
}

.me {
    width:225px;
    height:225px;
    border-radius:50%;
    object-fit: cover;
}

.company {
    color:#FFD460;
}

.company:hover {
    color:#fff;
    transition: 0.5s color;
}

.landing {
    text-align:center;
    margin-top:100px; 
    margin-bottom: 60px;
    max-width:1800px;
}

.items {
    background-color:#EA5455;
    color: #fff;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}

.items:hover {
    background-color:#fff;
    color:#000;
    transition: 0.5s background-color;
}

.titler {
    color: #fff;
    margin-top:35px;
    font-size:40px;
}


/* career.html */ 

.body-career {
    background-color:#f9f9fa;
    text-align:center;
}

.career-landing {
    margin-top:250px;
    margin-bottom:350px;
}

#main-header {
    font-size:50px;
}

.sub-header {
    font-size:25px;
    color:rgb(102, 102, 102);;
}

.ui-section {
    padding: 100px 100px;
    color:#fff;
    text-align:left;
}

.ui-what {
    background-color:#353941;
}

.ui-jobs {
    background-color:#364968;
}

.ui-heroes {
    background-color:#353941;
}

.section-header {
    font-weight:500;
    font-size:27px;
}

.section-text {
    font-family: "Source Sans Pro";
    font-weight:300;
    font-size:17px;
    line-height:1.5;
}

.section-img {
    margin-top:50px;
}

li {
    font-family: "Source Sans Pro";
    font-weight:200;
    font-size:19px;
}

.center {
    text-align: center;
}

.hero-img {
    border-radius:50%;
}

.hero-title {
    text-align:center;
    font-size:20px;
}

.hero-text {
    text-align:center;
    font-family: "Source Sans Pro";
    font-size:16px;
    font-weight:300;

}

.navbar-nav {
    margin-right:10px;
}